{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section id="card">
	<div class="container">
		<div class="card ficb">
			<div class="card__block card__block_first">
				<img src="{{ object.image.url }}" alt="img" class="card__img">
			</div>
			<div class="card__block card__block_sec">
				<div class="title">{{ object.name }}</div>
				<div class="card__block_price">{{ object.price }} руб</div>
				<div class="card__elems ">
					<span class="card__elems_intro">Состав</span>
					<div class="card__items">
						<span class="card_items_intro">
							{{ object.composition }}
						</span>
					</div>
				</div>
				<div class="card__elems ">
					<span class="card__elems_intro">Размер</span>
					<div class="card__items">
						<span class="card_items_intro">
							{{ object.size }}
						</span>
					</div>
				</div>
				<form action="{% url 'order' bouquet.pk %}">
					<input type="hidden" value="{{ bouquet.pk }}" name="BouquetOrder">
					<button class="btn largeBtn card__btn" type="submit">Заказать букет</button>
				</form>
			</div>
		</div>
	</div>
</section>
<section id="consultation">
	<div class="container">
		<div class="consultation">
			<div class="title consultation__title">Оставьте заявку на консультацию</div>
			<form action="{% url 'consultation' %}" class="consultation__form" method="post"> {% csrf_token %}
				{{ form.client_name|add_class:"consultation__form_input"|attr:"placeholder:Введите Имя" }}
				{{ form.phonenumber|add_class:"consultation__form_input"|attr:"placeholder:+ 7 (999) 000 00 00" }}
				<input type="submit" class="consultation__form_btn" value="Отправить"/>
			</form>
		</div>
	</div>
</section>
{% endblock %}
