{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="catalog">
	<div class="container p100">
		<div class="catalog">
			<div class="title">Все букеты</div>
				<div class="catalog__block">
					{% for catalog_line in catalog %}
					<div class="recommended__elems ficb">
						{% for bouquet in catalog_line %}
						<div class="recommended__block">
							<a href="{% url 'card' bouquet.pk %}">
								<img src="{{ bouquet.image.url }}" alt="">
							</a>
							<div class="recommended__block_elems ficb">
								<span class="recommended__block_intro">{{ bouquet.name }}</span>
								<span class="recommended__block_price">{{ bouquet.price }}</span>
							</div>
						</div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
				<button class="btn largeBtn catalog__btn">Показать ещё</button>
			</div>
		</div>
	</div>
</section>
<section id="consultation">
	<div class="container">
		<div class="consultation">
			<div class="title consultation__title">Оставьте заявку на консультацию</div>
			<form action="#" class="consultation__form">
				<input type="text" name="fname" class="consultation__form_input" placeholder="Введите Имя" required>
				<input type="text" name="tel" class="consultation__form_input" placeholder="+ 7 (999) 000 00 00" required>
				<button type="submit" class="consultation__form_btn">Отправить</button>
			</form>
		</div>
	</div>
</section>
{% endblock %}
